<footer id="page-footer">
    <div class="wrapper">
      <div>
          <a href="#">
              <img src="{{ site.url }}{{ site.baseurl }}/assets/img/social-placeholder.svg" alt="placeholder">
          </a>
      </div>
  
      <div class="copyright">© 2024 Microsoft All Rights Reserved | <a href="http://go.microsoft.com/fwlink/?LinkId=521839">Privacy</a></div>
  
      <div class="git">
          <a href="#">
              <img src="{{ site.url }}{{ site.baseurl }}/assets/img/footer-git.svg" alt="placeholder">
          </a>
      </div>
  
    </div>
  </footer>
  