<footer id="page-footer">
    <div class="wrapper">
      <div>
          <a href="#">
              <img src="{{ site.url }}{{ site.baseurl }}/assets/img/social-placeholder.svg" alt="placeholder">
          </a>
      </div>
  
      <small class="text-white">© 2024 {{ site.author }} All Rights Reserved | <a class="text-white" href="http://go.microsoft.com/fwlink/?LinkId=521839">Privacy</a></small>

      <div class="git">
          <a href="#">
              <img src="{{ site.url }}{{ site.baseurl }}/assets/img/footer-git.svg" alt="placeholder">
          </a>
      </div>
  
    </div>
  </footer>
  