{% comment %}
Get the tag of the current page

page.url: /skilling/modern-analytics-academy/overview

section.url: skilling/academies
entry.url: skilling/modern-analytics-academy/overview
           skilling/azure-data-academy
{% endcomment %}  

{% assign navTags = "" | split: ',' %}
{% assign navTag = "" %}
{% assign firstTag = "" %}

{% for section in site.data.toc %}  {% comment %} Academies {% endcomment %}
   
  {% for entry in section.links %} 
    {% if page.url contains entry.url %}{% assign navTag = entry.tag %}{% endif %}
    {% for area in entry.children %} 
      {% if page.url contains area.url %}{% assign navTag = area.tag %}{% endif %}
      {% for subarea in area.children %} 
        {% if page.url contains subarea.url %}{% assign navTag = subarea.tag %}{% endif %}
      {% endfor %} 
    {% endfor %}
  {% endfor %}
{% endfor %}

{% comment %}
Get the first word of the tag, like "maa" in "maa overview"
The first word in the tag is used as a grouping for the nav

Currently using whole tag but can change to first word if needed
{% endcomment %} 

{% assign navTags = navTag | split:' ' %}
{% if navTags.size >= 0 %}
  {% assign firstTag = navTags[0] %}
{% endif %}
{% comment %}
----------------
{% endcomment %} 

<div id="td-sidebar-menu" class="td-sidebar__inner">  
  <form class="td-sidebar__search d-flex align-items-center">
  <input type="search" class="form-control td-search-input" placeholder="&#xf002 Search this site…" aria-label="Search this site…" autocomplete="off">
    <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
    </button>
  </form>  
  <nav class="collapse td-sidebar-nav pt-2 pl-4" id="td-section-nav">
  {% comment %}
  Order of Nav: section > entry > area > subarea
  {% endcomment %}  

  {% for section in site.data.toc %}

    <ul class="td-sidebar-nav__section pr-md-3">
    {% capture sectionUrl %}{{ section.url | replace: "/", "" }}{% endcapture %}
    {% capture pageUrl %}{{ page.url | replace: "/", "" }}{% endcapture %}
    <li class="td-sidebar-nav__section-title"><a href="{{ site.baseurl }}/{{ section.url }}"><span class="align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">{{ section.title }}</span></a></li>
    {% if section.links %}
      <ul>
        <li class="collapse show" id="sidebar_{{ section.title | slugify }}">
          <ul class="td-sidebar-nav__section pr-md-3">
              {% for entry in section.links %}

                {% comment %} 
                  each entry in section.links = "AI/ML Academy", "Teams Academy" etc.
                {% endcomment %}    

                {% assign sectionText = "" %}
                {% assign isCurrentEntry = false %}
                {% assign isCurrentArea = false %}
                {% assign isCurrentSubarea = false %}
                {% assign cleanedPage = page.url | remove: "/" %}
                {% assign cleanedEntry = entry.url | remove: "/" %}
                {% capture sectionHead %}<ul><li class="collapse show" id="sidebar_{{ child.title | slugify }}">{% endcapture %}
                {% capture sectionTail %}</li></ul>{% endcapture %}
                {% assign sectionText = sectionHead %}
                {% assign areatext = "" %}
                {% assign subareaText = "" %}
                {% if entry.children %}
                  {% for area in entry.children %}

                    {% comment %}
                    Third level nesting - subarea
                    {% endcomment %}     
                    {% assign subareaText = "" %} 
                    {% assign isCurrentSubarea = false %}
                    {% assign isCurrentArea = false %}
                    {% if area.children %}
                      {% for subarea in area.children %}
                        {% if subarea.url %}{% assign linkUrl = site.baseurl | append: "/" | append: subarea.url %}{% else %}{% assign linkUrl = subarea.external_url %}{% endif %}
                        {% assign cleanedChild = subarea.url | remove: "/" %}
                        {% if cleanedPage == cleanedChild or cleanedPage contains cleanedChild %}
                          {% assign isCurrentSubarea = true %}
                          {% assign isCurrentArea = true %}
                          {% assign isCurrentEntry = true %}
                          {% capture subareaFragment %}<a class="td-sidebar-link td-sidebar-link__page_strong " style="padding-left:10px;" id="m-{{ section.title | slugify }}-{{ entry.title | slugify }}-{{ subarea.title | slugify }}" href="{{ linkUrl }}">{{ subarea.title }}</a>{% endcapture %}
                        {% else %}
                          {% assign isCurrentSubarea = false %}
                          {% capture subareaFragment %}<a class="td-sidebar-link td-sidebar-link__page " style="padding-left:10px;" id="m-{{ section.title | slugify }}-{{ entry.title | slugify }}-{{ subarea.title | slugify }}" href="{{ linkUrl }}">{{ subarea.title }}</a>{% endcapture %}
                        {% endif %}
                        {% assign subareaText = subareaText | append: subareaFragment %}
                      {% endfor %}
                    {% else %}
                      {% comment %}
                        No third level areas, but might be matching page
                      {% endcomment %}  

                      {% assign testUrl = "/" | append: area.url | append: "/" %}
                      {% if page.url contains testUrl %} 
                        {% assign isCurrentArea = true %}
                        {% assign isCurrentEntry = true %}
                      {% endif %} 

                    {% endif %}
                
                    {% if area.url %}{% assign linkUrl = site.baseurl | append: "/" | append: area.url %}{% else %}{% assign linkUrl = area.external_url %}{% endif %}
                    {% assign cleanedChild = area.url | remove: "/" %}
                    {% if cleanedPage == cleanedChild %}{% assign isCurrentArea = true %}{% endif %}
                    {% if isCurrentArea == true %}
                      {% assign isCurrentEntry = true %}
                      {% capture areaFragment %}<a class="td-sidebar-link td-sidebar-link__page_strong " id="m-{{ section.title | slugify }}-{{ entry.title | slugify }}-{{ area.title | slugify }}" href="{{ linkUrl }}">{{ area.title }}</a>{% endcapture %}
                    {% else %}
                      {% capture areaFragment %}<a class="td-sidebar-link td-sidebar-link__page " id="m-{{ section.title | slugify }}-{{ entry.title | slugify }}-{{ area.title | slugify }}" href="{{ linkUrl }}">{{ area.title }}</a>{% endcapture %}
                    {% endif %}
                    {% assign areatext = areatext | append: areaFragment %}
                    {% if navTag == area.tag or isCurrentArea == true %}
                      {% assign areatext = areatext | append: subareaText %}

                    {% endif %}
                  {% endfor %}
                {% else %}
                  {% comment %}
                    There are no children under current entry, such as Academies > Data Governance Academy
                    If the current page matches an entry in the nav, flag as current nav entry
                  {% endcomment %}     
                 
                  {% assign testUrl = "/" | append: entry.url | append: "/" %}
                  {% if page.url contains testUrl %}
                    {% assign isCurrentArea = true %}
                    {% assign isCurrentEntry = true %}
                  {% endif %} 
                {% endif %}
                
                {% if cleanedPage == cleanedEntry %}{% assign isCurrentEntry = true %}{% endif %}

                {% assign shim = "0px" %}
                {% if entry.title == "Partner Showcase" %}
                  {% assign shim = "10px" %}
                {% endif %}

                {% if isCurrentEntry == true %}
                  {% capture entryFragment %}<li class="td-sidebar-nav__section-title_strong"><a href="{% if entry.url %}{{ site.baseurl }}/{{ entry.url }}{% else %}{{ entry.external_url }}{% endif %}" class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section" style="color: #222; font-weight: 700; margin-top:{{ shim }};">{{ entry.title }}</a></li>{% endcapture %}
                {% else %}
                  {% capture entryFragment %}<li class="td-sidebar-nav__section-title"><a href="{% if entry.url %}{{ site.baseurl }}/{{ entry.url }}{% else %}{{ entry.external_url }}{% endif %}" class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section" style="margin-top:{{ shim }};">{{ entry.title }}</a></li>{% endcapture %}
                {% endif %}

                {% if isCurrentEntry == true %}
                  {% assign sectionText = sectionText | append: areatext %}
                {% endif %}
                {% assign sectionText = sectionText | append: sectionTail %}
                {{ entryFragment }}
                {{ sectionText }}
              {% endfor %}
          </ul>
        </li>
      </ul>
    {% endif %}
  </ul>
  
  {% endfor %}
</nav>
</div>