<div id="td-sidebar-menu" class="td-sidebar__inner">  
  <form class="td-sidebar__search d-flex align-items-center">
  <input type="search" class="form-control td-search-input" placeholder="&#xf002 Search this site…" aria-label="Search this site…" autocomplete="off">
    <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
    </button>
  </form>  
  <nav class="collapse td-sidebar-nav pt-2 pl-4" id="td-section-nav">
  {% for section in site.data.toc %}
    <ul class="td-sidebar-nav__section pr-md-3">
    {% capture sectionUrl %}{{ section.url | replace: "/", "" }}{% endcapture %}
    {% capture pageUrl %}{{ page.url | replace: "/", "" }}{% endcapture %}
    <li class="td-sidebar-nav__section-title"><a href="{{ site.baseurl }}/{{ section.url }}"><span class="align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">{{ section.title }}</span></a></li>
    {% if section.links %}
      <ul>
        <li class="collapse show" id="sidebar_{{ section.title | slugify }}">
          <ul class="td-sidebar-nav__section pr-md-3">
              {% for entry in section.links %}
                {% assign sectionText = "" %}
                {% assign isCurrentSection = false %}
                {% assign cleanedPage = page.url | remove: "/" %}
                {% assign cleanedEntry = entry.url | remove: "/" %}

                {% capture sectionHead %}<ul><li class="collapse show" id="sidebar_{{ child.title | slugify }}">{% endcapture %}
                {% capture sectionTail %}</li></ul>{% endcapture %}
                {% assign sectionText = sectionHead %}
                {% assign childText = "" %}
                {% assign subchildText = "" %}
                {% if entry.children %}
                        
                    {% for child in entry.children %}
                      {% if child.url %}{% assign linkUrl = site.baseurl | append: "/" | append: child.url %}{% else %}{% assign linkUrl = child.external_url %}{% endif %}
                      {% assign cleanedChild = child.url | remove: "/" %}
                      {% if cleanedPage == cleanedChild %}
                        {% assign isCurrentSection = true %}
                        {% capture childFragment %}<a class="td-sidebar-link td-sidebar-link__page_strong " id="m-{{ section.title | slugify }}-{{ entry.title | slugify }}-{{ child.title | slugify }}" href="{{ linkUrl }}">{{ child.title }}</a>{% endcapture %}
                      {% else %}
                        {% capture childFragment %}<a class="td-sidebar-link td-sidebar-link__page " id="m-{{ section.title | slugify }}-{{ entry.title | slugify }}-{{ child.title | slugify }}" href="{{ linkUrl }}">{{ child.title }}</a>{% endcapture %}
                      {% endif %}
                      {% assign childText = childText | append: childFragment %}

                      {% comment %}
                      Third level nesting
                      {% endcomment %}     
                      {% if child.children %}     
                      {% for subpage in child.children %}
                        {% if subpage.url %}{% assign linkUrl = site.baseurl | append: "/" | append: subpage.url %}{% else %}{% assign linkUrl = subpage.external_url %}{% endif %}
                        {% assign cleanedChild = subpage.url | remove: "/" %}
                        {% if cleanedPage == cleanedChild %}
                          {% assign isCurrentSection = true %}
                          {% capture subchildFragment %}<a class="td-sidebar-link td-sidebar-link__page_strong " style="padding-left:10px;" id="m-{{ section.title | slugify }}-{{ entry.title | slugify }}-{{ subpage.title | slugify }}" href="{{ linkUrl }}">{{ subpage.title }}</a>{% endcapture %}
                        {% else %}
                          {% capture subchildFragment %}<a class="td-sidebar-link td-sidebar-link__page " style="padding-left:10px;" id="m-{{ section.title | slugify }}-{{ entry.title | slugify }}-{{ subpage.title | slugify }}" href="{{ linkUrl }}">{{ subpage.title }}</a>{% endcapture %}
                        {% endif %}
                        {% assign subchildText = subchildText | append: subchildFragment %}
                        {% endfor %}
                      {% endif %}         
                    

                    {% endfor %}
      
                  {% endif %}
                  
                  {% if cleanedPage == cleanedEntry %}{% assign isCurrentSection = true %}{% endif %}
                  {% if isCurrentSection == true %}
                    {% capture entryFragment %}<li class="td-sidebar-nav__section-title_strong"><a href="{% if entry.url %}{{ site.baseurl }}/{{ entry.url }}{% else %}{{ entry.external_url }}{% endif %}" class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section" style="color: #222; font-weight: 700;">{{ entry.title }}</a></li>{% endcapture %}
                  {% else %}
                    {% capture entryFragment %}<li class="td-sidebar-nav__section-title"><a href="{% if entry.url %}{{ site.baseurl }}/{{ entry.url }}{% else %}{{ entry.external_url }}{% endif %}" class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">{{ entry.title }}</a></li>{% endcapture %}
                  {% endif %}

                  {% if isCurrentSection == true %}
                    {% assign sectionText = sectionText | append: childText %}
                    {% assign sectionText = sectionText | append: subchildText %}
                  {% endif %}
                  {% assign sectionText = sectionText | append: sectionTail %}
                  {{ entryFragment }}
                  {{ sectionText }}

              {% endfor %}
          </ul>
        </li>
      </ul>
    {% endif %}
  </ul>
  {% endfor %}
</nav>
</div>