.docupdated {
    font-size: 0.8rem;
    margin: 0;
    color: #737373;
}

.doctags {
    line-height: 0.2rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 5px;
}

.td-content>h2 {
    margin-top: 5px; 
}

.td-content>h2:not(:first-child) {
    margin-top: 5px;
}
/* modified .col-xl-2, col-xl-8 */

h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}

.video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }