---
title: Tags Index
permalink: /tags/
showbreadcrumb: false
---

{% assign showdate = false %}
{% assign docs_tags = "" %}{% for doc in site.docs %}{% unless doc.tags contains "deprecated" %}{% assign ttags = doc.tags | join:'|' | append:'|' %}{% assign docs_tags = docs_tags | append:ttags %}{% endunless %}{% endfor %}
{% assign tags_list = docs_tags | split:'|' | uniq | sort | compact %}

<h1 id="tags-index">All Tags</h1>

{% for tag in tags_list %}{% if tag != empty %}
<h3 id="{{ tag | replace: '/', '-' }}" class="linked-section">{{ tag }}</h3>
<div class="post-list" style="margin-bottom:40px">
    {% for post in site.tags[tag] %}
    <div class="tag-entry">
        <a href="{{- site.url -}}{{- post.url -}}">{{- post.title -}}</a>
        {% if showdate and doc.updated %}<span class="docupdated" style="padding-left: 5px;">Updated <time datetime="{{- doc.updated | date_to_xmlschema -}}"> {{- doc.updated | date: "%B %d, %Y" -}}</time></span>{% endif %}
    </div>
    {%- endfor -%}
    {% for doc in site.docs %}{% if doc.tags contains tag %}{% unless doc.tags contains "deprecated" %}
    <div class="tag-entry">
        <a href="{{- site.baseurl -}}{{- doc.url -}}">{{ doc.title }}</a>
        {% if showdate and doc.updated %}<span class="docupdated" style="padding-left: 5px;">Updated <time datetime="{{- doc.updated | date_to_xmlschema -}}"> {{- doc.updated | date: "%B %d, %Y" -}}</time></span>{% endif %}
    </div>
    {% endunless %}{% endif %}{% endfor %}
</div>
{% endif %}{%- endfor -%}

