<!DOCTYPE html>
<html lang="en" class="no-js">
  <!-- Copyright 2019-2021 Vanessa Sochat-->
  {% include head.html %}
  {% include appinsights.html %}
  <body class="td-section">
    {% include header.html %}
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
          {% include sidebar.html %}
          </div>
          <div class="d-none d-xl-block col-xl-2 td-toc d-print-none">
              <div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
                  {% include editable.html %}
              </div>
              <div id="contribs_header" style="visibility:hidden;text-align:center;font-weight: 500; color: #1872cd; padding-bottom: 5px;">Page Contributors</div>
              <div id="contribs" style="visibility:hidden; display:flex; flex-wrap: wrap; padding-bottom: 5px;">
              </div>
              <nav id="TableOfContents"><ul>
              <li><ul id="TOC">
                <!-- Links will be appended here-->
              </ul></li>
              </ul></nav>
          </div>
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main" style="padding-left: 2rem!important;">
            {% if page.showbreadcrumb != false %}
            {% include breadcrumb.html %}
            {% endif %}
           <div class="td-content">
            {% if page.tags contains "deprecated" %}
            <div id="deprecated">This page has been deprecated and no longer being maintained.</div>
            {% endif %}
	          {{ content }}	
            {% include relatedplans.html %}
              {% if section.links %}<div class="section-index">
               <hr class="panel-line">{% for child in section.links %}
                 <div class="entry">
                    <h5>
                        <a href="{% if child.url %}{{ site.baseurl }}{{ child.url }}{% else %}{{ child.external_url }}{% endif %}">{{ child.title }}</a>
                    </h5>
                    <p>{{ child.description }}</p>
                 </div>{% endfor %}
              </div>{% endif %}
              {% include feedback.html %}
           </div>
          </main>
        </div>
      </div>
      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
