<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include head-vs.html %} 
  {% include appinsights.html %}
  <body>
    {% include header-vs.html %}

    <div id="home-banner">

        <div class="wrapper">

            <div class="copy">
                <h1>Microsoft Partner Resources</h1>
                <p>The Microsoft Partners Resources repository consists of documents, learning resources 
                    and other assets designed to aid partners in practice development, upskilling, certifications, 
                    and bringing their solutions to market.</p>
                <p>Brought to you by the Microsoft Americas Global Partner Solutions (GPS) team, empowering partners 
                    and driving digital transformation.
                </p>
            </div>

        </div>

    </div>

        <div id="segments">
            <div class="wrapper">
                <div class="segment" style="width:50%">
                    <div class="inner">
                        <a href="{{ site.url }}{{ site.baseurl }}/skilling/microsoft-partner-showcase" class="segment"><h2>Partner Showcase</h2></a>
                        <p>The Microsoft Partner Showcase features technical conversations with Microsoft Partners and their solutions. Latest episodes:</p>
                        {% include resources.md 
                            includetags="microsoft partner showcase" 
                            includemethod="all" 
                            showtags="false" 
                            showdate="true" 
                            visualstyle="homepage" 
                            showdescription="true" 
                            sortfield="updated" 
                            sortorder="desc" 
                            showdate="true" 
                            limit="5" 
                        %}
                        <a href="{{ site.url }}{{ site.baseurl }}/skilling/microsoft-partner-showcase" class="segment"><span class="homepagelink">View Microsoft Partner Showcase &#187;</span></a> 
                    </div>
                </div>

                <div class="segment" style="width:50%">
                    <div class="inner">
                        <a href="{{ site.url }}{{ site.baseurl }}/skilling/academies" class="segment"><h2>Academies</h2></a>
                        <p>Our solution-focused Academies, such as AI/ML, security, and analytics, feature a collection of
                            expert-level sessions, demonstrations, and other critical resources centered on the chosen topic. Latest updates:</p>
                        {% include series.md 
                            includetags="academy content|showcase content" 
                            includemethod="any" 
                            sortfield="updated" sortorder="desc" showdate="true" 
                            showtags="true" visualstyle="homepage" limit="5" 
                        %}
                        <a href="{{ site.url }}{{ site.baseurl }}/skilling/academies" class="segment"><span class="homepagelink">View Academies &#187;</span></a> 
                    </div>
                </div>
            </div>     
        </div><!-- #segments -->

      </div>
    </div>

    {% include footer-vs.html %} {% include scripts.html %}
    
  </body>
</html>