<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Head content with Visual Studio styling -->
    {% include head-vs.html %} 
    <!-- Application Insights for monitoring -->
    {% include appinsights.html %}
  </head>
  <body>
    <!-- Header with Visual Studio styling -->
    {% include header-vs.html %}

    <!-- Home banner section -->
    <section id="home-banner">
      <div class="wrapper">
        <article class="intro">
          <h1>Microsoft Partner Resources</h1>
          <p>The Microsoft Partners Resources repository offers documents, learning materials, and assets to support partners in their development journey. It's a collaborative effort by the Microsoft Americas Global Partner Solutions team to empower partners and drive digital transformation.</p>
        </article>
      </div>
    </section>

    <!-- Segments section -->
    <section id="segments">
      <div class="wrapper">
        <!-- Readiness Resources segment -->
        <div class="segment">
          <a href="{{ site.url }}{{ site.baseurl }}/readiness-resources/" class="segment-title">
            <h2>Readiness Resources</h2>
          </a>
          <p>Discover a curated collection of Azure and Industry resources to enhance your readiness. Check out the latest updates:</p>
          <!-- Dynamic inclusion of resources -->
          {% include resources.md 
              includetags="learning plan" 
              includemethod="all" 
              showtags="false" 
              showdate="true" 
              visualstyle="homepage" 
              showdescription="true" 
              sortfield="updated" 
              sortorder="desc" 
              limit="5" 
          %}
          <a href="{{ site.url }}{{ site.baseurl }}/readiness-resources/" class="view-more">View Readiness Resources »</a> 
        </div>

        <!-- Academies segment -->
        <div class="segment">
          <a href="{{ site.url }}{{ site.baseurl }}/skilling/academies" class="segment-title">
            <h2>Academies</h2>
          </a>
          <p>Join our solution-focused Academies to access expert-level sessions, demos, and resources on AI/ML, security, analytics, and more. Discover the latest content:</p>
          <!-- Dynamic inclusion of series -->
          {% include series.md 
              includetags="academy content|showcase content" 
              includemethod="any" 
              sortfield="updated" 
              sortorder="desc" 
              showdate="true" 
              showtags="true" 
              visualstyle="homepage" 
              limit="5" 
          %}
          <a href="{{ site.url }}{{ site.baseurl }}/skilling/academies" class="view-more">View Academies »</a> 
        </div>
      </div>     
    </section><!-- #segments -->

    <!-- Footer with Visual Studio styling -->
    {% include footer-vs.html %} 
    <!-- Scripts for functionality -->
    {% include scripts.html %}
  </body>
</html>