<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include head-vs.html %} 
  {% include appinsights.html %}
  <body>
    {% include header-vs.html %}

    <div id="home-banner">

        <div class="wrapper">

            <div class="copy">
                <h1>Microsoft Partner Resources</h1>
                <p>The Microsoft Partners Resources repository consists of documents, learning resources 
                    and other assets designed to aid partners in practice development, upskilling, certifications, 
                    and bringing their solutions to market.</p>
                <p>Brought to you by the Microsoft U.S. Global Partner Solutions (GPS) team, empowering partners 
                    and driving digital transformation.
                </p>
            </div>

        </div>

    </div>

        <div id="segments">
            <div class="wrapper">
                <div class="segment" style="width:33%">
                    <div class="inner">
                        <a href="{{ site.url }}{{ site.baseurl }}/readiness-resources/" class="segment"><h2>Readiness Resources</h2></a>
                        <p>Readiness content for Azure, Business Apps, Modern Workplace, Security, and Industry specific content. Latest updates:</p>
                        {% include resources.md 
                            includetags="learning plan" 
                            includemethod="all" 
                            showtags="false" 
                            showdate="true" 
                            visualstyle="homepage" 
                            showdescription="true" 
                            sortfield="updated" 
                            sortorder="desc" 
                            showdate="true" 
                            limit="5" 
                        %}
                        <a href="{{ site.url }}{{ site.baseurl }}/readiness-resources/" class="segment"><span class="homepagelink">View Readiness Resources &#187;</span></a> 
                    </div>
                </div>

                <div class="segment" style="width:33%">
                    <div class="inner">
                        <a href="{{ site.url }}{{ site.baseurl }}/skilling/academies" class="segment"><h2>Academies</h2></a>
                        <p>Our solution-focused content on Data, Analytics, AI, D365, Data Governance, and Security. Latest updates:</p>
                        {% include series.md 
                            includetags="academy content|showcase content" 
                            includemethod="any" 
                            sortfield="updated" sortorder="desc" showdate="true" 
                            showtags="true" visualstyle="homepage" limit="5" 
                        %}
                        <a href="{{ site.url }}{{ site.baseurl }}/skilling/academies" class="segment"><span class="homepagelink">View Academies &#187;</span></a> 
                    </div>
                </div>
          
                <div class="segment" style="width:33%">
                    <div class="inner">
                        <a href="{{ site.url }}{{ site.baseurl }}/skilling" class="segment"><h2>Skilling & Hands-on</h2></a>
                        <p>Workshops, hands-on content, and labs</p>
                        <p style="line-height: 100%">
                            <a class="homepagecontent" href="{{- site.baseurl -}}/skilling/infrastructure/avs-hands-on-labs">AVS Hands-on Labs</a>
                        </p>
                        <p style="line-height: 100%;">
                            <a class="homepagecontent" href="{{- site.baseurl -}}/skilling/azure/what-the-hack">What-the-Hack Library</a>
                        </p>
                        <span class="homepagelink">View Skilling & Hands-on &#187;</span>       
                    </div>
                </div>
            </div>     
        </div><!-- #segments -->

      </div>
    </div>

    {% include footer-vs.html %} {% include scripts.html %}
    
  </body>
</html>