---
layout: default
---

<h2 id="tags-index">{{ page.title }}</h2>

{% capture site_tags %}{% for tag in site.tags %}{% if tag %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endif %}{% endfor %}{% endcapture %}{% assign docs_tags = "" %}{% for doc in site.docs %}{% assign ttags = doc.tags | join:',' | append:',' %}{% assign docs_tags = docs_tags | append:ttags %}{% endfor %}
{% assign all_tags = site_tags | append:docs_tags %}{% assign tags_list = all_tags | split:',' | uniq | sort %}
{% assign all_docs = site.docs | sort: "title" %}

{% assign filtered_docs = all_docs | where_exp: "doc","doc.tags contains 'learning plan'" %}

{% for doc in filtered_docs %}
{% assign uniquedoctags = doc.tags | uniq %}
{% assign concatplans = uniquedoctags | concat: page.includeplans | uniq %}
{% comment %}

    Any number of plan filters can be passed in via page.includeplans

    To see if a document is a match, we'll concat page.includeplans and doc.tags --
    if they have the same number of tags, the document matches the filter so we'll display it.

{% endcomment %}
{% if uniquedoctags.size == concatplans.size %}
{% unless doc.tags contains "deprecated" %}
<div class="tag-entry">
    <div><a href="{{- site.baseurl -}}{{- doc.url -}}">{{ doc.title }}</a></div>
    <div>{% for tag in doc.tags | sort %}<span style="font-size:12px" class="badge badge-{{ site.tag_color }}"><a style="cursor:pointer; color:white" href="{% if site.tag_search_endpoint %}{{ site.tag_search_endpoint }}{{ tag }}{% else %}{{ site.url }}{{ site.baseurl }}/tags#{{ tag }} {% endif %}">{{ tag }}</a></span>{% endfor %}</div>
    <div>{{ doc.description }}</div>
    <div>Updated <time datetime="{{- doc.updated | date_to_xmlschema -}}"> {{- doc.updated | date: "%B %d, %Y" -}}</time></div>
</div>
<div style="padding-bottom: 30px;"></div>
{% endunless %}
{% endif %}
{% endfor %}

{% include toc.html %}
{% include permalinks.html %}
{% include tags.html %}
