---
layout: default
---

{% assign all_docs = site.docs | sort: "title" %}
{% assign filtered_docs = all_docs | where_exp: "doc","doc.tags contains 'learning plan'" %}
{% assign current_docs = "" | split: ',' %}
{% for doc in filtered_docs %}
{% unless doc.tags contains 'deprecated' %}
{% assign current_docs = current_docs | push: doc %}
{% endunless %}
{% endfor %}

{% for section in site.data.toc %}
{% capture sectionUrl %}{{ section.url | replace: "/", "" }}{% endcapture %}
{% capture pageUrl %}{{ page.url | replace: "/", "" }}{% endcapture %}

{% for entry in section.links %}
{% if entry.title == page.includesection[0] %}

<div><h2><a href="{{- site.baseurl -}}/{{ entry.url }}">{{ page.title }}</a></h2></div>

{% for child in entry.children %}
<div><h3 style="margin-top:20px; margin-bottom: 10px;"><a class="td-sidebar-link td-sidebar-link__page " id="m-{{ section.title | slugify }}-{{ entry.title | slugify }}-{{ child.title | slugify }}" href="{% if child.url %}{{ site.baseurl }}/{{ child.url }}{% else %}{{ child.external_url }}{% endif %}">{{ child.title }}</a></h3></div> 
{% for doc in current_docs %}
{% if doc.tags contains child.tag %}
<div class="tag-entry" style="padding-left:25px;">
    <div><a href="{{- site.baseurl -}}{{- doc.url -}}">{{ doc.title }}</a> (Updated <time datetime="{{- doc.date | date_to_xmlschema -}}"> {{- doc.date | date: "%B %d, %Y" -}}</time>)</div>
</div>
{% endif %}
{% endfor %}
{% endfor %}

{% endif %}
{% endfor %}
{% endfor %}

